@using EntityLayer.Concrete
@model List<Uye>
@{
    ViewBag.Title = "GecmisListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Silinen Üyeler</h2>


<table class="table table-striped">
    <br />
    <thead>
        <tr>
            <th>Sicil Numarası</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>Telefon Numarası</th>
            <th>E-posta</th>
            <th>Cinsiyet</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.IsActive == false)
            {
                <tr>
                    <td>@item.SicilNo</td>
                    <td>@item.UyeAdi</td>
                    <td>@item.UyeSoyadi</td>
                    <td>@item.TelefonNo</td>
                    <td>@item.Email</td>
                    <td>@item.Cinsiyet</td>
                    <td>@Html.ActionLink("SİL", "UyeGecmisSil", new { id = item.Id }, new { @class = "btn btn-danger" })</td>
                </tr>
            }

        }

    </tbody>
</table>



