@using EntityLayer.Concrete
@model List<Uye>
@{
    ViewBag.Title = "GetUyeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Üyeler</h2>

<table class="table table-striped">

    @using (Html.BeginForm("UyeAra", "Uye"))
    {
        <div style="width: 406px;margin:auto">
            <form class="form-inline">
                <div class="form-group">
                    <label for="exampleInputName2">Üye ismini giriniz:</label>
                    @Html.TextBox("UyeAdi", null, new { @class = "form-control" })
                </div>
                <div style="margin:auto;position:relative;width:200px">
                    <input class="btn btn-default" type="submit" value="BUL" />
                </div>
            </form>
        </div>
    }
    <br />
    <thead>
        <tr>
            <th>Sicil Numarası</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>Telefon Numarası</th>
            <th>E-posta</th>
            <th>Cinsiyet</th>
            <th>Eklenme Tarihi</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.IsActive == true)
            {
                <tr>
                    <td>@item.SicilNo</td>
                    <td>@item.UyeAdi</td>
                    <td>@item.UyeSoyadi</td>
                    <td>@item.TelefonNo</td>
                    <td>@item.Email</td>
                    <td>@item.Cinsiyet</td>
                    <td>@item.EklenmeTarihi</td>
                    <td><a href="/Uye/DeleteUye/@item.Id" class="btn btn-danger">SİL</a></td>
                    <td><a href="/Uye/EditUye/@item.Id" class="btn btn-success">GÜNCELLE</a></td>
                    @*<td>@Html.ActionLink("SİL", "DeleteUye", new { id = item.Id }, new { @class = "btn btn-danger" })</td>
                        <td>@Html.ActionLink("GÜNCELLE", "EditUye", new { id = item.Id }, new { @class = "btn btn-success" })</td>*@
                </tr>
            }

        }

    </tbody>
</table>

