
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><strong>Güncel Durum </strong></h2>
<br />
<div class="row" style="margin-left:30px">
    <div class="col-lg-3 col-sm-3 col-xs-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Kitap Sayısı</h3>
            <ul class="list-inline two-part">
                <li>
                    <div id="sparklinedash"></div>
                </li>
                <li class="text-right"><i class="ti-arrow-up text-success"></i> <span class="counter text-success">@ViewBag.kitapSayisi</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Üye Sayısı</h3>
            <ul class="list-inline two-part">
                <li>
                    <div id="sparklinedash2"></div>
                </li>
                <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple">@ViewBag.uyeSayisi</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Ödünç Sayısı</h3>
            <ul class="list-inline two-part">
                <li>
                    <div id="sparklinedash3"></div>
                </li>
                <li class="text-right"><i class="ti-arrow-up text-info"></i> <span class="counter text-info">@ViewBag.oduncSayisi</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">İade Sayısı</h3>
            <ul class="list-inline two-part">
                <li>
                    <div id="sparklinedash4"></div>
                </li>
                <li class="text-right"><i class="ti-arrow-down text-danger"></i> <span class="text-danger">@ViewBag.iadeSayisi</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg- col-sm-3 col-xs-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Son Hafta Verilen Kitap Sayısı</h3>
            <ul class="list-inline two-part">
                <li>
                    <div id="sparklinedash2"></div>
                </li>
                <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple">@ViewBag.sonHaftaTeslimEdilen</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3 col-sm-3 col-xs-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Son Hafta İade Edilen Kitap Sayısı</h3>
            <ul class="list-inline two-part">
                <li>
                    <div id="sparklinedash2"></div>
                </li>
                <li class="text-right"><i class="ti-arrow-up text-purple"></i> <span class="counter text-purple">@ViewBag.sonHaftaTeslimAlinan</span></li>
            </ul>
        </div>
    </div>
</div>

@section script{
    <script src="~/Scripts/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/jquery.charts-sparkline.js"></script>
}